<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>SafeEats PDX</title>

    <link href="bower_components/leaflet/dist/leaflet.css" rel="stylesheet">
    <script src="bower_components/leaflet/dist/leaflet.js" charset="utf-8"></script>
</head>

<body>
    <header>
        <a href="/" id="logo"></a>
        {{#if user.loggedIn}}
            <a class="header-button" href="/logout">Logout</a>
            <a class="header-button" href="/create">Create +</a>
        {{else}}
            <a class="header-button" href="/login">Login</a>
        {{/if}}
    </header>

    {{{content}}}

    <footer><p>&copy; 2016 yalestar</p></footer>
</body>
</html>
