<!DOCTYPE html>
<html>
  <head>
    <title>RUNDMC_NEATS</title>
    <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css">
    <link rel="stylesheet" type="text/css" href="bower_components/leaflet/dist/leaflet.css">
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bower_components/leaflet/dist/leaflet.js"></script>
    <script type="text/javascript" src="js/application.js"></script>
  </head>
  <body>
    <script>
    jQuery(function($) {
      // var map = L.map('map').setView([45.505, -122.09], 13);
    });
    </script>
    <style type="text/css">
      #map { height: 380px; }
    </style>
    <div data-role="page" data-theme="b">
      <div data-role="header">
        <h5>SafeEatsPDX</h5>
      </div>
      <div data-role="collapsible-set">
        <div data-role="collapsible" data-collapsed="false" data-mini="true">
          <h5>DYNAMIC: {{message}}</h5>
          <div class="ui-grid-a">
            <div class="ui-block-a">
              <a href="#" id="getLocation" data-role="button" data-inline="true" data-mini="true">Get Loc</a>
              <a href="#" id="find" data-role="button" data-inline="true" data-theme="b" data-mini="true">Find</a>
              <a href="#" id="clear" data-role="button" data-inline="true" data-theme="b"
              data-mini="true">Clear</a>
              <!-- <div id="map" style="height: 400px; width:500px"></div> -->
              <div id="map"></div>
            </div>
            <div class="ui-block-b">
              <h2>Results</h2>
              <h6>Order By: <a href="#" id="orderByScore">SCORE</a> | <a href="#" id="orderByName">NAME</a></h6>
              <div id="results_block" class="result_item">
              </div>
            </div>
          </div>
        </div>
        <div data-role="collapsible" data-mini="true">
          <h3>Search</h3>
          <label for="search-basic">Search Input:</label>
          <input type="search" name="search" id="search-basic" value="" data-mini="true"/>
        </div>
      </div>
    </div>
    <div id="footer" data-role="footer" class="ui-bar">
      <a href="/about">About</a> | <a href="/contact">Contact</a> | <a href="/data">Data</a> | <a href="/api">API</a>
    </div>
  </body>
</html>